
  <!-- dashboard.component.html -->
<h2>Welcome to the Dashboard</h2>

<!-- Button to navigate to Profile Component -->
<button routerLink="/dashboard/profile">Go to Profile</button>

<!-- This is where ProfileComponent will be loaded when the route changes -->
<router-outlet></router-outlet>

    
<app-add-expense (expenseAdded)="expensesList.fetchExpenses()"></app-add-expense>
<br><br>

<app-expenses-list #expensesList></app-expenses-list>

    <button (click)="logout()" class="btn-submit">Logout</button><br>
    